body {
  background-color: rgb(0, 0, 0);
}

.center {
  display: flex;
  justify-content: center;
}

.noto-sans-font {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgba(209, 187, 228, 0.933);
}

.navbar {
  background-color: transparent;
}

.itemsDirection {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.effect {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  grid-gap: 1rem;
  padding-bottom: 20px;

  transition: transform 0.3s ease-in-out;
}
.effect:hover {
  transform: scale(1.1);
}

.effect > img {
  border-radius: 5%;
  height: 200px;
}
.title {
  grid-row: 2;
}
.type {
  grid-row: 3;
}

.year {
  grid-row: 4;
}

.text-style {
  color: rgba(255, 255, 255, 0.595);
  font-size: 14px;
}

.image {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
}

.image > img {
  height: 250px;
}

.box {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border: 2px solid white;

  width: 500px;
}

.design {
  display: flex;
  justify-content: center;
}

.button {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.input:focus {
  outline: none;
  box-shadow: none;
}

.text_size {
  font-size: 50px;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}

.genre {
  padding: 0px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.099);
  border-color: rgba(255, 255, 255, 0.421);
  width: fit-content;
}

.poster {
  height: 300px;
  width: 300px;
}

.poster:hover {
  box-shadow: 10px 10px 5px rgba(227, 233, 236, 0.229);
}

.text_color {
  color: rgba(255, 255, 255, 0.673);
}

.grenze-gotisch-title {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.jost-plot {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  padding-top: 20px;
}

.centerDiv {
  display: flex;
  justify-content: center;
}
.backColor {
  width: 60vw;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1); /* Transparent white */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}
